.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.divider {
    width: 15px;
    height: auto;
    display: inline-block;
}

.buttonsignup {
    height: 70px;
    width: 100px;
    background-color: #826aed;
    color: white;
    font-size: 20px;
    border-radius: 20%;
    border-color: #826aed;
    box-shadow: black;

}